.hero_img{
    position: relative;
}
.hero_img ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background-image: linear-gradient(
        to bottom
        rgba(255,255,255,0)
        rgba(255,255,255)    )

}